<div style="grid = @GridType;
			grid-template-columns = @GridTemplateColums;
			grid-template-rows = @GridTemplateRows;
			grid-gap = @GridGap">

	@foreach (var lData in DataSource)
	{
		@foreach (var lChild in m_Children)
		{
			@lChild(lData)
		}
	}
</div>

@code {
	[Parameter]
	public List<dynamic> DataSource { get; set; }

	[Parameter]
	public RenderFragment<dynamic> ChildFragment { set => m_Children.Add(value); }

	/// Collection of all added child fragments
	private List<RenderFragment<dynamic>> m_Children = new List<RenderFragment<dynamic>>();

	[Parameter]
	public string GridType { get; set; } = "grid";
	[Parameter]
	public string GridTemplateColums { get; set; } = "repeat(auto-fill, minmax(0px, 1fr))";
	[Parameter]
	public string GridTemplateRows { get; set; } = "repeat(auto-fill, minmax(0px, 1fr))";
	[Parameter]
	public string GridGap { get; set; } = "0px";
}
