@page "/"

@using jellyfin_blazor.Services
@using jellyfin_blazor.Identity

@inject NavigationManager Navigation
@inject HttpService Http;
@inject AuthenticationContext AuthContext

<PageTitle>Home</PageTitle>

<p>Hello There, @Username</p>

@code {
	string Username { get => AuthContext.Identity?.Name ?? "Guest"; }
}