@page "/"

@using jellyfin_blazor.Services
@using jellyfin_blazor.Identity

@inject NavigationManager Navigation
@inject HttpService Http;
@inject IdentityContext AuthContext

<PageTitle>Home</PageTitle>

@if (AuthContext.Identity != null)
{
	<p>Hello There, @AuthContext.Identity.Name</p>
}
@code {

}