@page "/"

@using jellyfin_blazor.Services
@using jellyfin_blazor.Identity
@using jellyfin_blazor.Components

@inject NavigationManager Navigation
@inject HttpService Http;
@inject IdentityContext AuthContext

<PageTitle>Home</PageTitle>

@if (AuthContext.Identity != null)
{
	<div style="display: grid; grid-template-rows: repeat(auto-fill, 1fr)">
		<ItemsContainer ItemType="Data.ItemType.Movie"/>
	</div>
}
@code {

}